/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

nav {
	font-size: 20px;
}
body{
	margin-left: 280px;
}

/* Your code starts here! */


.main-Div-class{
	border: none;
	position: center;
	width: 77%;
	
}
.secondDiv{
	border: none;
	position: center;
	width: 77%;
	
}
.navbar{
	border: none;
	float: left;
	
}

.navbar a{
	margin: 25px;
	text-decoration: none;
	font-size: 15px;
	color: gray;
	margin-left: 5px;
}
.logoclass{
	border: none;
	float: right;
	margin-right: 3%;
	
}
.innovationclass{
	border: none;
	font-family: 'Bangers', cursive;
	text-align: center;
	font-size: 70px;
	display: inline-block;
	margin-top: 5%;
	margin-left: 5%;
}
.startclass h3{
	border: 1px solid black;
	font-size: 13px;
	width: 60%;
	margin: 5%;
	padding: 2%;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;

}

.topimgclass{
	border: none;
	float: right;
}
div{
	margin: 1%;
	display: inline-block;	
}
hr{
	width: 77%;
	float: left;
	margin-left: 15px;

}
.Div3{
	border: none;
	width: 77%;
	padding: 15px;
	text-align: justify;
}
.leftP{
	border: none;
	width: 49%;
	float: left;
}
.rightP{
	border: none;
	width: 49%;
	float: right;
	
}
.imgDiv{
	border: none;
	width: 77%;
	padding-right: 20px;
	
	
}
.imgS{
 padding-left: 5px;
}
#Div4{
	border: none;
	width: 77%;
	text-align: justify;
	margin: 2%;
	display: inline-block;	
}
.Pclass{
	border: none;
	display: inline-table;
	margin: 1%;
	width: 31%;
	margin-right: 1%;
	
}
.addressclass{
	border:2px none;
	width: 77%;
}

.addressbar{
	border: none;
	margin-left: 15px;
	line-height: 1.7em;

}
.footerclass{
	width: 77%;
	border: none;
	
}
.footer2{
	text-align: center;
}
